@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
.fl{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.con-mid{
    text-align: center;
}
.con-jus{
    text-align: justify;
}
.navbar-brand a{
    font-family: 'Swap';
}
.nav-color .navbar-nav .nav-link,
.nav-color .navbar-brand,
.nav-color .navbar-toggler-icon {
  color: white;
}

.nav-color .navbar-nav .nav-link:hover,
.nav-color .navbar-nav .nav-link:focus,
.nav-color .navbar-brand:hover,
.nav-color .navbar-brand:focus {
  color: #f8f9fa; 
}

.nav-color .dropdown-menu {
  background-color: #343a40; 
}

.nav-color .dropdown-item {
  color: white;
}

.nav-color .dropdown-item:hover,
.nav-color .dropdown-item:focus {
  background-color: #495057; 
  color: white;
}

.navbar-brand{
    font-family: serif;
}



.no-margin{
    margin:0 !important;
    padding:0 !important;
}
nav{
    background-color: #930F0F;
    height:40%;
    color:white
}
.nav-text{
    color:white;
}
nav-content{
    display: flex;
    flex-direction: row;
    color:white;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .logo-width-md-sm {
        width: 50%;
    }
}

.homeTitle{
    display: flex;
    font-size: 3vw;
    height: 3em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

.carousel-container {
    max-width: 75%;
    
    margin: 0 auto;
}

.pag-asaTitle{
    display: flex;
    font-size: 2vw;
    height: 3em;
    align-items: center;
    justify-content: center;
    text-decoration: underline;

}


.pag-asa-con-title{
    font-size: 1.8vw;
}
.pag-asa-con-date{
    font-size: 1vw;
}

.bot-date-mar{
    margin-bottom: 2.5vw;
}

.con-gap-ver{
    height: 3vw;
}


.left-title{
    color: #930F0F;
    font-size: 2.5vw;
    font-weight: bold;

}

.dis-fl-col{
    flex-direction: row;
}

.sticky-section {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Adjust as needed */
    left: 0; /* Ensures it sticks to the left */
    z-index: 1000; /* Ensures it stays above other content if necessary */
  }



footer{
    background-color: #930F0F;
    height:8vw;
    color:white
}

.social-icon-container {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.social-icon {
    color: #000;
    font-size: 2.5rem;
    padding: 4px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.social-icon:hover {
    color: #cc2d2d;
    border-color: aliceblue;
    transform: rotateX(7deg);
}
.news{
    text-align: center;
}
.ads{
    margin-top: 20px;
    display:flex;
    justify-content: center; 
    flex-wrap: wrap;
    
}
.list-unstyled{
    border:none;
}
.class-body p{
    text-align: justify;
    font-size: 15px;
}
a{
    text-decoration: none;
}
.text{
    text-align: justify;
}
.card {
    border: none;
}

.card + .card {
    margin-top: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #333;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 2.5em;
    font-weight: bold;
}

.card-text {
    font-size: 0.875rem;
}

.badge {
    font-size: 0.75rem;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #333;
}
.btn{
    color:#cc2d2d;
}
.btn:hover{
    color:#000;
}
h1{
    font-family: 'Swap';
    font-weight: bold;
    font-size: 100px;
}
h3{
    font-family: 'Swap';
}

p{
    font-family: 'Swap';
    font-size: 20px;
}
h4 {
    text-align: left;
}
.nav-tabs {
    border-bottom: 2px solid #000; 
}

.nav-tabs .nav-item {
    margin-bottom: 10px; 
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    color: #000; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #000; 
    color: #fff; 
}

.nav-tabs .nav-link:hover {
    background-color: #f0f0f0;
    color: #000; 
}



.carousel-container {
    position: relative;
    height: 100vh;
    margin-top: 50px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
    margin-left: 320px;
}

.homeTitle {
    font-family: 'Swap';
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 25px; 
    padding: 12px 24px; 
    font-size: 1.5rem;
    text-transform: uppercase; 
}

.btn-danger:hover {
    background-color: #bd2130;
    border-color: #bd2130;
    color: white;
}







